/* assets/css/custom.css */


/* Personalizaciones generales */

.brand-link {

    border-bottom: none !important;

}


.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {

    background-color: #007bff;

    border-color: #007bff;

}


.user-panel {

    border-bottom: 1px solid #4f5962;

}


/* Mejoras para tablas */

.table thead th {

    border-bottom: 2px solid #dee2e6;

    font-weight: 600;

}


/* Cards personalizadas */

.card {

    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);

    margin-bottom: 1rem;

}


/* Botones personalizados */

.btn {

    border-radius: 0.25rem;

}


/* Responsive improvements */

@media (max-width: 768px) {

    .main-sidebar {

        transform: translateX(-100%);

    }

    

    .sidebar-open .main-sidebar {

        transform: translateX(0);

    }

}